---
import ProjectCard from './ProjectCard.astro';

export interface Project {
  name: string;
  demoLink: string;
  tags?: string[];
  description?: string;
  image?: string;
  [key: string]: any;
}

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  {projects.map((project) => (
    <ProjectCard
      name={project.name}
      description={project.description}
      demoLink={project.demoLink}
      tags={project.tags}
      image={project.image}
    />
  ))}
</div>
