---
import BaseHead from './components/BaseHead.astro';
import Header from './components/Header.astro';
import Footer from './components/Footer.astro';
import { loadEnv } from 'vite';
import WikilinkProcessor from '../components/WikilinkProcessor.astro';


const { GTAG_MEASUREMENT_ID } = loadEnv(process.env.NODE_ENV || 'production', process.cwd(), '');
const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>

<!-- ========== SEO BÁSICO ========== -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="author" content="gvpv12">
<meta name="theme-color" content="#000000">

<!-- Cambia la description por una descripción real de tu página (150-160 caracteres max) -->
<meta name="description" content={description}>

<!-- Evita contenido duplicado -->
<link rel="canonical" href="https://gvpv12.github.io/">

<!-- ========== OPEN GRAPH (WhatsApp, Facebook, LinkedIn) ========== -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://gvpv12.github.io/">
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:image" content="https://gvpv12.github.io/jardin.jpg">
<meta property="og:image:width" content="540">
<meta property="og:image:height" content="675">
<meta property="og:locale" content="es_ES">
<meta name="twitter:title" content={title}>

<!-- ========== TWITTER CARD (X / Twitter) ========== -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://gvpv12.github.io/">
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
<meta name="twitter:image" content="https://gvpv12.github.io/jardin.jpg">


    
      <!-- Bloquear IA en general -->
  <meta name="robots" content="noai, noimageai" />
  
  <!-- Bloquear bots de Google para IA -->
  <meta name="googlebot" content="noai, noimageai" />
  <meta name="google-extended" content="noindex, nofollow" />
  
  <!-- Bloquear otros bots -->
  <meta name="AdsBot-Google" content="noai, noimageai" />

		<BaseHead title={title} description={description} image={image} />
	</head>
	<body
		class="bg-white dark:bg-zinc-900 dark:text-zinc-100 pt-16 sm:pt-0"
	>
		<Header/>
		<div class='py-8 min-h-[calc(100vh-160px)]'>
			<slot />
		</div>
		<Footer />
		<!-- Google tag (gtag.js) -->
    {
      GTAG_MEASUREMENT_ID &&
      <>
        <script type='text/partytown' async src={'https://www.googletagmanager.com/gtag/js?id=' + GTAG_MEASUREMENT_ID}></script>
        <script type='text/partytown' define:vars={{ GTAG_MEASUREMENT_ID }}>
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag('js', new Date());

          gtag('config', GTAG_MEASUREMENT_ID);
        </script>
      </>
    }
   <WikilinkProcessor />  
	</body>
</html>

